* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #eae0d5;
  --s: 100px; /* control the size */
  --c1: #eae0d5;
  --c2: #22333b;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}
.header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  color: #0a0908;
  background-color: #c6ac8f;
  height: 100px;
  width: 100%;
}
.under_header {
  width: 100%;
  background-color: #5e503f;
  height: 15px;
}
.under_header_2 {
  width: 100%;
  height: 8px;
  background-color: #22333b;
}
.header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  cursor: pointer;
  width: 300px;
  text-align: center;
  transition: color 0.3s ease;
}
.header h1:hover {
  color: #5e503f;
}
.selected_view {
  color: #5e503f;
}
.calc_div {
  width: 80%;
  height: 60vh;
  display: flex;
  margin: 20px 10%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.386);
}
.calc_card {
  width: 30%;
  overflow-y: auto;
  background-color: #1b272dc4;
  backdrop-filter: blur(4px);
  height: 100%;
}
.description {
  background-color: #e4c6a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 70%;
  height: 100%;
}
.calc_card {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.formula {
  font-size: 40px;
}
.legend {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.definition {
  font-size: 20px;
  width: 300px;
}
.input {
  outline: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c6ac8f;
  font-size: 30px;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.calculate_button {
  outline: none;
  border: none;
  height: 50px;
  width: 60%;
  min-width: 100px;
  font-size: 2vw;
  color: #1a2328;
  background-color: #c6ac8f;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.calculate_button:hover {
  background-color: #8d7b67;
}
.input input {
  height: 100%;
  width: 80%;
  font-size: 20px;
  background-color: #fef6ee;
  outline: none;
  border: none;
  padding-left: 10px;
}
.return_ans {
  height: 100px;
  width: 80%;
  color: #fef6ee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  overflow-wrap: break-word;
}
#return_ans_fib {
  height: 250px;
}
#return_ans_lucas {
  height: 250px;
}
#return_ans_collatz {
  height: 250px;
}
#return_ans_trib {
  height: 250px;
}
.colatz_ans {
  height: 40%;
  font-size: 18px;
}
.sets_dec {
  background-color: #e4c6a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  width: 70%;
  height: 100%;
}
#return_ans_sets {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .calc_div {
    flex-direction: column;
    justify-content: space-around;
    min-height: 700px;
  }
  .calc_card {
    padding: 5px;
    width: 100%;
  }
  .input {
    border: 1px solid black;
  }
  .description {
    width: 100%;
  }
  .sets_dec {
    width: 100%;
  }
  .formula {
    font-size: 25px;
  }
  .return_ans {
    height: 50px;
    width: 90%;
    font-size: 20px;
  }
  .header {
    height: 200px;
    flex-direction: column;
  }
  .header h1 {
    border: 1px solid #5e4f3d;
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
